absl-py 
alabaster 
anaconda-client 
anaconda-project 
anyio 
appdirs==1.4.4
applaunchservices
appnope 
appscript 
argcomplete
argh==0.26.2
argon2-cffi 
argon2-cffi-bindings 
arrow==0.13.1
asn1crypto 
astor==0.8.1
astroid 
astropy 
asttokens 
async-generator 
atomicwrites==1.4.0
attrs 
autopep8 
Babel 
backcall 
backports.functools-lru-cache 
backports.shutil-get-terminal-size 
backports.tempfile 
backports.weakref
beautifulsoup4 
binaryornot 
bitarray 
bkcharts==0.2
black==19.10b0
bleach 
bokeh 
boto==2.49.0
Bottleneck 
branca==0.5.0
brotlipy==0.7.0
cached-property 
certifi 
cffi 
chardet 
charset-normalizer 
click 
cloudpickle 
clyent==1.2.2
colorama 
conda==4.13.0
conda-build==3.21.8
conda-content-trust 
conda-pack 
conda-package-handling 
conda-repo-cli 
conda-token 
conda-verify==3.4.2
contextlib2 
cookiecutter 
cryptography 
cycler 
Cython 
cytoolz==0.11.0
daal4py==2021.5.0
dask==2021.10.0
debugpy 
decorator 
defusedxml 
diff-match-patch 
distlib==0.3.6
distributed 
docutils 
entrypoints==0.3
et-xmlfile==1.1.0
executing 
fastcache==1.1.0
filelock 
flake8 
Flask 
Flask-MySQL==1.5.2
folium==0.12.1.post1
fonttools==4.25.0
fsspec 
future==0.18.2
gast==0.2.2
gevent 
glob2 
gmpy2 
google-pasta 
greenlet 
grpcio 
gunicorn==21.2.0
h5py==2.10.0
HeapDict 
html5lib 
idna 
imagecodecs 
imageio 
imagesize 
importlib-metadata 
imutils==0.5.4
inflection==0.5.1
iniconfig 
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
itsdangerous 
jdcal 
jedi 
Jinja2 
jinja2-time 
joblib
json5 
jsonschema 
jupyter==1.0.0
jupyter-client 
jupyter-console 
jupyter-core 
jupyter-server
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
jupyterlab-widgets
Keras==2.3.1
Keras-Applications 
Keras-Preprocessing 
keyring 
kiwisolver 
lazy-object-proxy 
libarchive-c 
llvmlite==0.38.0
locket 
lxml 
Markdown 
MarkupSafe==1.1.1
matplotlib 
matplotlib-inline 
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
mock 
more-itertools 
mpmath==1.2.1
msgpack 
multipledispatch==0.6.0
munkres==1.1.4
mypy-extensions==0.4.3
mysql-connector-python==8.0.33
navigator-updater==0.2.1
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk 
nose 
notebook 
numba 
numexpr
numpy 
numpydoc 
olefile 
opencv-python==4.5.5.64
openpyxl 
opt-einsum 
packaging 
pandas==1.3.5
pandocfilters 
parso 
partd 
path 
pathlib2 
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
pexpect 
pickleshare 
Pillow==9.0.1
pkginfo 
platformdirs==2.5.2
pluggy 
ply==3.11
poyo 
prometheus-client 
prompt-toolkit 
protobuf==3.19.1
psutil 
psycopg2==2.7.7
ptyprocess 
pure-eval 
py 
pycodestyle 
pycosat==0.6.3
pycparser 
pycrypto==2.6.1
pycurl==7.44.1
pydocstyle 
pydot 
pyerfa 
pyflakes 
Pygments 
PyJWT 
pylint 
pyls-spyder==0.4.0
PyMySQL==1.1.0
pyodbc 
pyOpenSSL 
pyparsing 
pyproj==3.2.1
pyrsistent 
pytest==6.2.5
python-dateutil 
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify 
pytz==2021.3
PyWavelets 
PyYAML==6.0
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
regex 
requests 
rope 
Rtree 
ruamel-yaml-conda 
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
scikit-image 
scikit-learn 
scikit-learn-intelex==2021.20220215.133143
scipy 
seaborn 
Send2Trash 
simplegeneric==0.8.1
singledispatch 
six 
sniffio 
snowballstemmer 
sortedcollections 
sortedcontainers 
soupsieve 
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
sphinxcontrib-websupport 
spyder 
spyder-kernels 
SQLAlchemy 
stack-data 
statsmodels 
sympy 
tables==3.6.1
TBB==0.2
tblib 
tensorboard==2.0.0
tensorflow==2.0.0
tensorflow-estimator==2.0.0
termcolor==1.1.0
terminado 
testpath 
text-unidecode 
textdistance 
threadpoolctl 
three-merge 
tifffile
tinycss 
toml 
toolz 
tornado 
tqdm 
traitlets 
typed-ast 
typing_extensions 
ujson 
unicodecsv==0.14.1
Unidecode 
urllib3 
virtualenv==20.16.4
watchdog 
wcwidth 
webencodings==0.5.1
websocket-client 
Werkzeug 
whichcraft 
widgetsnbextension
wrapt==1.12.1
wurlitzer 
xlrd 
XlsxWriter 
xlwings==0.24.9
xlwt==1.3.0
yapf 
zict==2.0.0
zipp 
zope.event==4.5.0
zope.interface 
